<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<header>
    <div class="container">
        <h1><%= siteName %></h1>
        <nav>
            <ul>
                <li><a href="/">Forsiden</a></li>
                <li><a href="/tasks/easy">Lett oppgave</a></li>
                <li><a href="/tasks/medium">Middels oppgave</a></li>
                <li><a href="/tasks/hard">Vanskelig oppgave</a></li>
            </ul>
        </nav>
    </div>

</header>

<body>